.slant{
    /*position: absolute;
    width: 1941.01px;
    height: 1137.46px;
    left: -50px;
    top: -420px;

    background: linear-gradient(135deg, #4F14F8 9.52%, #B197E9 82.52%);
    border-radius: 123px;
    transform: rotate(-10deg); */
    background: linear-gradient(135deg, #4F14F8 9.52%, #B197E9 82.52%);
}